@using AppliancesShop.BLL.Models.OutputModels
<a href="./productpage/@productType.Id">
    <div class="product-type-card">
        <p>@productType.Name</p>
        <p><img src="@productType.Img" width="100" /></p>
    </div>
</a>

@code {
    [Parameter]
    public ProductTypeOutputModel productType { get; set; }

}
