@page "/registration"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<AuthorizeView Roles="Client">
    <Authorized>
        <p>Вы авторизованы как клиент.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Регистрация:</h2>
        <RegistrationUser></RegistrationUser>
    </NotAuthorized>
</AuthorizeView>