@page "/admin/homeadmin"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Вы авторизованы как администратор.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Вход в личный кабинет администратора.</h2>
        <LoginAdmin></LoginAdmin>
    </NotAuthorized>
</AuthorizeView>

@code {

}