@page "/admin/loginfailed"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Вы авторизованы как администратор.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h1>Вход в личный кабинет администратора.</h1>
        <p>Ошибка! Неправильный логин или пароль. Попробуйте еще раз.</p>
        <LoginAdmin></LoginAdmin>
    </NotAuthorized>
</AuthorizeView>
