@page "/basket/{Id:int}"
@attribute [StreamRendering]
@inject NavigationManager navManager
@rendermode InteractiveServer

@code
{
	[Parameter]
	public int Id { get; set; }

	public OrderInputModel _order;

	private List<ProductOutputModel> _products;

	private ProductClient _productClient;

	private List<ShopOutputModel> _shops;

	private List<OrderOutputModel> _orders;

	private ShopClient _shopClient;

	private OrderClient _orderClient;

	private List<AvailabilityOutputModel> _availabilities;

	public Basket()
	{
		_productClient = new ProductClient();
		_shopClient = new ShopClient();
		_orderClient = new OrderClient();
	}

	protected override void OnInitialized()
	{
		_products = _productClient.GetProductsByProductTypeId(Id);
		_shops = _shopClient.GetAllShops();
		// _orders = _orderClient.GetAllOrders().ToList();
	}
}

<PageTitle>Корзина</PageTitle>

<h2>Корзина</h2>
<table class="table">
	<thead>
		<tr>
			<th><h4>Товар</h4></th>
			<th><h4>Цена</h4></th>
			<th><h4>Описание</h4></th>
			<th><h4>Выбрать шт.</h4></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var i in _products)
		{
			<tr>

				<ProductInBasket product=i></ProductInBasket>

			</tr>
		}
	</tbody>
</table>

<br />

<h2>Где можно забрать</h2>

<table class="table" >
	<thead>
		<tr>
			<th><h4>Заберу из</h4></th>
			<th><h4>Магазин</h4></th>
			<th><h4>Адрес</h4></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in _shops)
		{
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						@*<input @bind = @i.Id class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>*@
						<label class="form-check-label" for="exampleRadios1">
							Заберу из
						</label>
					</div>
				</td>
				<td>@i.Name</td>
				<td><a href="https://www.google.com/maps/@@59.9400863,30.3028374,11.03z?entry=ttu&q=@i.Adress">@i.Adress</a></td>
			</tr>
		}
	</tbody>
</table>

<div class="d-flex flex-row-reverse">
	<form action="http://localhost:5182/request">
		<button type="submit" @onclick=AddNewOrder>Заказать</button>
	</form>
</div>


@code {
	public void AddNewOrder()
	{
		_orders.Add(_orderClient.AddOrder(_order));

		navManager.NavigateTo("./myorder");
	}
}

