
@page "/categories"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Категории заказов</PageTitle>

<h3>Категории заказов:</h3>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://stiltv.ru/image/cache/catalog/image/catalog/123/6-1-1-1024x903.webp" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">Холодильники</h3>
    <a href="http://localhost:5182/products" class="btn btn-primary">Смотреть в каталоге</a>
  </div>
</div>


@*@code
{
    ProductTypeClient productTypeClient = new();
    var dsafj = productTypeClient.getAllProducts

}*@
