@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Вы авторизованы как администратор.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Manager">
    <Authorized>
        <p>Вы авторизованы как менеджер.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Client">
    <Authorized>
        <p>Вы авторизованы как клиент.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Вход в личный кабинет</h2>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code {
   
}