@page "/loginfailed"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer


<AuthorizeView Roles="Client">
    <Authorized>
        Вы авторизованы как клиент
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h1>Вход в личный кабинет</h1>
        <p>Ошибка! Неправильный логин или пароль. Попробуцйте еще раз.</p>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
