@page "/myorder"
@rendermode InteractiveServer

<PageTitle>Заказы</PageTitle>

<h1>Статус заказа : Заказ 344К готов к получению</h1>

<h2>История заказов:</h2>

<div class="card w-100 mt-2">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">24/08/2023</h6>
    <p class="card-text">"Микроволновая печь Samsung MS23K3513AK/BW"</p>
    <a href="/productstest" class="card-link">Смотреть в каталоге</a>
  </div>
</div>

<div class="card w-100 mt-2">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">12/11/2022</h6>
    <p class="card-text">"Пылесос Karcher VC 2"</p>
    <p class="card-text">"Холодильник Indesit ITR 5180 S"</p>
    <a href="/productstest" class="card-link">Смотреть в каталоге</a>
  </div>
</div>





