@page "/productsfortype/{Id:int}"
@attribute [StreamRendering]
@using AppliancesShop.BLL.Models.OutputModels
@rendermode InteractiveServer

<PageTitle>ProductsForType</PageTitle>

<h2>Товары категории</h2>


@code
{
	[Parameter]
    public int Id { get; set; }
	
    private List<ProductOutputModel> _products;

    private ProductClient _product;

    public ProductsForType()
    {
        _product = new ProductClient();
    }

    protected override void OnInitialized()
    {
        _products = _product.GetProductsByProductTypeId(Id);
    }
}


<table class="table">
	<thead>
	<tr>
		<th><h4>Товар</h4></th>
		<th><h4>Цена</h4></th>
		<th><h4>Подробная информация</h4></th>
		<th><h4>Добавь в корзину!</h4></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var i in _products)
	{
		
		<tr>
		<ProductOnPage product=i></ProductOnPage>
		</tr>
		
	}
	
	</tbody>
</table>

	<div class="d-flex flex-row-reverse">
		<form action="http://localhost:5182/basket/@Id">
			<button type="submit">Перейти в корзину</button>
		</form>
	</div>

