@page "/registrationfailed"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer


<AuthorizeView Roles="Client">
    <Authorized>
        <p>Вы авторизованы как клиент.</p>
        <p></p>
        <p><a href="./logout">Выйти</a></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h1>Регистрация</h1>
        <p>Ошибка! Такая почта уже используется. Попробуйте еще раз.</p>
        <Registration></Registration>
    </NotAuthorized>
</AuthorizeView>
