@page "/request"
@rendermode InteractiveServer

<PageTitle>Номер заказа</PageTitle>

<h1>Ваш номер заказа 344К</h1>

<h3>Мы уведомим Вас когда его можно забрать</h3>

<div class="d-flex flex-row-reverse">

    <form action="http://localhost:5182/myorder">
        <button type="submit">Закрыть</button>
    </form>
</div>