

      <td><div>@availability.Product.Name</div></td>
    
      <td><div>  @availability.Product.Price руб</div></td>
   
      <td><div>  @availability.Quantity шт в наличии</div></td>
    




@code {
    [Parameter]
    public AvailabilityOutputModel availability { get; set; }

}